body{
    background:#b6b6b6;}
#page-title{
    position: relative;
    background: #000000;
    width: 40%;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    font-size: 200%;
    font-style: normal;
    font-weight: bolder;
    line-height: 68px;
    text-align: center;
    color: white;
    padding: 0 0;
    left: 3%;
    top: 3%;
    box-shadow: 10px 10px 10px 0px gray;
margin-bottom: 5%;}
#control-panel{
    box-shadow: 10px 10px 10px 0px gray;
    background: #ffffff;
    position: absolute;
    width: 30%;
    right: 5%;
    top: 3%;}
.panel-header{
    background: #000000;
    color: white;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    font-size: 200%;
    padding: 0 0;
    font-style: normal;
    font-weight: bolder;
    line-height: 68px;
    text-align: center;}
input{
    display: flex;
    width: 80%;
    justify-content: center;
    margin-left: 10%;
    margin-bottom: 5%;}
label{
    display: flex;
    justify-content: center;}
#title-input{
    margin-top: 5%;}
button{
    position: relative;
    width: 20%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    border: none;
    height: 50px;
    font-size: medium;}
#display{
    position: relative;
    box-shadow: 10px 10px 10px 0px gray;
    width: 55%;
    left: 3%;}
#display-header{
    background: #000000;
    color: white;}
.book-box{
    position:relative;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 23.3%;
    box-shadow: 10px 10px 10px 0px gray;
    background: white;
    text-align: center;}
.delete-box{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0%;
    background: #c73c3ccf;}
.read-box{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 5%;
    background: #5eca67cf;}
.not-read-box{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 5%;
        background: #ca5e5ecf;}
@media only screen and (max-width:1000px) {
    .book-box{
        position:relative;
        float: left;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        width: 40%;
        box-shadow: 10px 10px 10px 0px gray;
        text-align: center;}
    #page-title{
        width: 45%;
        font-size: 36px;
    }
    #control-panel{
        width: 45%;
    }
    #display{
        width: 45%;
        top: 25%
    }}
@media only screen and (max-width:500px) {
    #page-title{
        width: 90%;
        left: 5%;
    }
    #control-panel{
        position: relative;
        margin-bottom: 5%;
        width: 90%;
        top: 20%;
        left: 5%;
    }
    #display{
        width: 90%;
        top: 85%;
        left: 5%;
    }}
@media only screen and (max-width:300px) {
    #page-title{
        position: relative;
        font-size: 150%;
    }
    #control-panel{
        position: relative;
        margin-top: 20px;
        font-size: 70%;
    }
    #display{
        position: relative;
        margin-top: 20px;
        font-size: 70%;
    }
    .book-box{
        position:relative;
        float: left;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        width: 90%;
        box-shadow: 5px 5px 5px 0px gray;
        text-align: center;}}