body {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
  }

#settingsdiv{
    width: 20%;
    height: max-content;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #40404096;
    justify-content: center;
    display: flex;
}

#buttondiv{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

#main{
    font-size: 2vw;
    font-weight: bold;
    font-family: initial;
    transition: ease-in-out;
    transition-duration: 20ms;
    border: solid;
    border-width: 0.7vw;
    border-radius: 5.5vw;
    background-image: linear-gradient(rgb(190, 190, 190), white);
    padding-bottom: 7%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 7%;
}

.settingsbutton{
    width: 80%;
    height: 18%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-image: linear-gradient(#949494, #ffffff);
    border-top-width: 0px;
    border-top-style: solid;
    border-left-width: 0px;
    border-left-style: solid;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-right-width: 0px;
    border-right-style: solid;
    font-size: 1.9vw;
    font-family: initial;
    border-radius: 15px;
    transition: ease-in-out;
    transition-duration: 100ms;
}

.settingsbutton:hover{
    scale: 1.2;
}

#main:hover{
    scale: 1.1;
}

.settingsbutton:active{
    scale: 0.9;
}
#main:active{
    scale: 0.9;
}

#tablediv{
    width: 100%;
    height: 100vh;
    background-color: #4040404d;
    left: 0px;
    right: 0px;
    position: fixed;
    margin-top: 2.1%;
}

table { 
    width: 100%; 
    border-collapse: collapse; 
  }

  tr:nth-of-type(odd) { 
    background: rgba(209, 209, 209, 0.5); 
  }

  tr:nth-of-type(even) { 
    background: rgba(241, 241, 241, 0.5); 
  }

  th { 
    background: rgba(66, 66, 66, 0.315); 
    color: rgb(83, 83, 83); 
    font-weight: bold; 
    text-align: left;
  }

  td, th { 
    padding: 6px; 
    border: 0.2vw solid rgb(0, 0, 0); 
    font-size: 1vw;
  }

  td {
      text-align: center;
  }

  #tddelete {
      width: 1vw;
      height: 2vw;
  }

  #deletebutton{
      width: 3vw;
      height: 3vw;
      border-width: 0.3vw;
      border-radius: 50%;
      border-color: rgb(83, 83, 83);
      background-image: linear-gradient(45deg, rgb(94, 4, 4), rgba(255,0,0,1));
      transition: ease-in-out;
      transition-duration: 30ms;
  }

  #deletebutton:hover{
      scale: 1.1;
  }

#deletebutton:active{
    scale: 0.9;
}

#submitform {
    position: fixed;
    width: 25%;
    top: 25%;
    right: auto;
    background-color: rgba(170, 170, 170, 0.81);
    left: 37%;
    display: none;
}

#formtext{
    color: rgb(87, 87, 87);
    text-align: center;
    font-size: 2vw;
    font-weight: bolder;
    margin-top: 5%;
}

input {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 70%;
}